<article id="post-2962" class="post-2962 hotel type-hotel status-publish hentry<%post.hotel_types.each do |j|%> <%=j.url%><%end%> post">
	<div class="entry-thumbnail" style="max-width: 253px; max-height: 162.547px;">
        <img width="400" height="257" src="<%=post.image%>" class="attachment-large size-large wp-post-image entered lazyloaded" alt="" data-lazy-srcset="<%=post.image%>" data-lazy-sizes="(max-width: 400px) 100vw, 400px" data-lazy-src="<%=post.image%>" data-ll-status="loaded" sizes="(max-width: 400px) 100vw, 400px" srcset="<%=post.image%>"><noscript><img width="400" height="257" src="https://hellosaintlau.fr/wp-content/uploads/2018/06/Chez-Julienne.jpg" class="attachment-large size-large wp-post-image" alt="" srcset="https://hellosaintlau.fr/wp-content/uploads/2018/06/Chez-Julienne.jpg 400w, https://hellosaintlau.fr/wp-content/uploads/2018/06/Chez-Julienne-300x193.jpg 300w" sizes="(max-width: 400px) 100vw, 400px" /></noscript>			
    </div>
    <div class="content_container">
        <header class="entry-header">
                        <h2 class="entry-title"><%=post.name%></h2>        </header><!-- .entry-header -->	

      
        <div class="a2a_kit a2a_kit_size_32 addtoany_list" data-a2a-url="<%=post.url%>" data-a2a-title="<%=post.name%>"><a class="a2a_button_facebook" href="https://www.addtoany.com/add_to/facebook?linkurl=https%3A%2F%2Fhellosaintlau.fr%2Fhotel%2F<%=post.url%>%2F&amp;linkname=%C2%AB%20Camp%20la%20Nuit%20Tombe%20%C2%BB%20%7C%20Date%20et%20inscription%2031%20ao%C3%BBt%202019" title="Facebook" rel="nofollow noopener" target="_blank"></a><a class="a2a_button_twitter" href="https://www.addtoany.com/add_to/twitter?linkurl=https%3A%2F%2Fhellosaintlau.fr%2Fhotel%2F<%=post.url%>%2F&amp;linkname=%C2%AB%20Camp%20la%20Nuit%20Tombe%20%C2%BB%20%7C%20Date%20et%20inscription%2031%20ao%C3%BBt%202019" title="Twitter" rel="nofollow noopener" target="_blank"></a></div>	</div>
	</article><!-- #post-## -->
