<html>
<head><meta http-equiv=Content-Type content="text/html; charset=UTF-8"><style type="text/css" nonce="jmj4InHWmotj5B3DxO6yqg">
body,td,div,p,a,input {font-family: arial, sans-serif;}
</style><meta http-equiv="X-UA-Compatible" content="IE=edge"><link rel="shortcut icon" href="https://ssl.gstatic.com/ui/v1/icons/mail/rfr/gmail.ico" type="image/x-icon">
<title>Gmail - You have received an ecard from cleo jeanne!</title>
<style type="text/css" nonce="jmj4InHWmotj5B3DxO6yqg">
body, td {font-size:13px} a:link, a:active {color:#1155CC; text-decoration:none} a:hover {text-decoration:underline; cursor: pointer} a:visited{color:##6611CC} img{border:0px} pre { white-space: pre; white-space: -moz-pre-wrap; white-space: -o-pre-wrap; white-space: pre-wrap; word-wrap: break-word; max-width: 800px; overflow: auto;} .logo { left: -7px; position: relative; }
</style>



<body><div class="bodycontainer">
        
        
        
        <hr><div class="maincontent">
            

            
            
            
            
            <table width=100% cellpadding=0 cellspacing=0 border=0 class="message">
                
                
                <tr>
                    
                    
                   
                    
                    <td align=right>
                
                <tr><td colspan=2 style="padding-bottom: 4px;"><font size=-1 class="recipient">
                        
                
                
                </font><tr><td colspan=2><table width=100% cellpadding=12 cellspacing=0 border=0><tr><td><div style="overflow: hidden;"><font size=-1><u></u>
<div marginwidth="0" marginheight="0">
<div style="margin:0;padding:30px 0 30px 0;width:100%" id="m_503496693374340827wrapper">

<table align="center" border="0" cellpadding="0" cellspacing="0" height="100%" width="600" style="border:1px solid #dddddd;border-radius:3px!important;border-collapse:collapse;word-wrap:break-word;word-break:break-word">
<tbody>
<tr>
<td valign="top" align="center">
<div id="m_503496693374340827header-logo-image">
<p style="margin-top:0"><a href="" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=fr&amp;q=&amp;source=gmail&amp;ust=1647209196504000&amp;usg=AOvVaw0NvRdRlOxcIZklKpmo9uBa"><img src="https://ci3.googleusercontent.com/proxy/xISs_Q0BeRJyftW4TuJ9gpDNXFltnpqO0uU_T160S06j3c0dtKJWKVYrl2yGnP4J-Vfp2W210hOfOwyRzegwgLBaJFa_cvvZGcSG1oF_WDJahseuJakmue7XfX2vDOVECyWFL7Qyvssh5zVCSa_KfMHbwzw=s0-d-e1-ft#/wp-content/uploads/2018/05/LOGO_OFFICE-DE-TOURISME-HELLO-SAINT-LAU-1.jpg" alt="Logo Image"></a></p>	</div>
<table align="center" border="0" cellpadding="0" cellspacing="0" width="600" id="m_503496693374340827template-container" style="background-color:#f2f2f2;border-collapse:collapse;word-wrap:break-word;word-break:break-word">
<tbody>
<tr>
<td valign="top" style="padding:0;text-align:left;color:#60666d;line-height:21px;font-family:sans-serif">
<div align="center">
<a href="/envoyer-une-ecard/?eid=NzcyMg=&amp;skey=1645188288-qBWC3DtuyU-gPAwNK87Hp" target="_blank" data-saferedirecturl="/url?hl=fr&amp;q=/envoyer-une-ecard/?eid%3DNzcyMg%3D%26skey%3D1645188288-qBWC3DtuyU-gPAwNK87Hp&amp;source=gmail&amp;ust=1647209196505000&amp;usg=AOvVaw1uRioonIx3PuX1yQZxa96C">    

<%=image_tag @img.url, width: "600", alt: "Ecard Image", style: "display:block;border:0;max-width:600px" %>
  
</a>
</div>
<div style="padding:20px 260px 20px 260px">
<div style="display:block;width:80px;background-color:#bfbfbf;line-height:3px;height:3px"> </div>
</div>
<div style="padding:0 20px 20px 20px;font-size:13px">
<div>
<p><%=@card.message%></p>
<p>From : <%=@card.name%> <a href="mailto:<%=@card.email%>" target="_blank"><%=@card.email%></a></p>
</div>
</div>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
</div>	</div>
</font></div></table></table></div></div><script type="text/javascript" nonce="glFxcNMKiHue+PYEh5F+sQ">// <![CDATA[
document.body.onload=function(){document.body.offsetHeight;window.print()};
// ]]></script></body>
</html>