<%=form_with url: "/envoyer-une-ecard", model: card, html: {method: "post", class: "wp-iec-form wp-iec-fieldset-frm wp-iec-fieldset-frm-0", id: "wp-iec-fieldset-frm-0" ,enctype: "multipart/form-data", novalidate: "novalidate"} do |form|%>
	
	

<div class="wp-iec-imgs-main-wrp wp-iec-clearfix">
	
<div class="wp-iec-img-container-wrp">
	<div id="wp-iec-img-container-0" class="wp-iec-img-container wp-iec-img-masonary wp-iec-img-masonary-clmn-3 wp-iec-clearfix" data-column="3" style="position: relative; height: 541px;">
		
							
					<div class="wp-iec-thumb-main-wrp wp-iec-1" style="position: absolute; left: 0px; top: 0px;">
						<div class="wp-iec-thumb-wrp <%=card.img==2044 ? "wp-iec-active-thumb" : nil%> ">
							<a class="wp-iec-thumbimg wp-iec-thumb wp-iec-thumb-2044" href="javascript:void(0);">
								<img width="300" height="300" src="/ecard_files/Colibri-300x300.jpg" alt="Ecard Image" class="wp-iec-ecard-img entered lazyloaded" data-lazy-src="/wp-content/uploads/2018/06/Colibri-300x300.jpg" data-ll-status="loaded"><noscript><img width="300" height="300" src="/wp-content/uploads/2018/06/Colibri-300x300.jpg" alt="Ecard Image" class="wp-iec-ecard-img" /></noscript>
								
								
							</a>
						
<%=form.radio_button "wp_iec_img", "2044",  class: "wp-iec-img-selection wp-iec-img-selection-2044" , id: "wp-iec-img-selection-2044"%>

                                                        <noscript>
                                                        
                                                        <%=form.radio_button "wp_iec_img", "2044", id: "wp-iec-img-selection-2044"%>
                                                        </noscript>
						
							<div class="wp-iec-cnt-wrp">	
																
															</div>
						</div><!-- end .wp-iec-thumb-wrp -->
						
												
					</div><!-- end .wp-iec-thumb-main-wrp -->
					
							
					<div class="wp-iec-thumb-main-wrp wp-iec-2" style="position: absolute; left: 265.5px; top: 0px;">
						<div class="wp-iec-thumb-wrp <%=card.img==2047 ? "wp-iec-active-thumb" : nil%>">
							<a class="wp-iec-thumbimg wp-iec-thumb wp-iec-thumb-2047" href="javascript:void(0);">
								<img width="300" height="300" src="/ecard_files/coucher-de-soleil-300x300.jpg" alt="Ecard Image" class="wp-iec-ecard-img entered lazyloaded" data-lazy-src="/wp-content/uploads/2018/06/coucher-de-soleil-300x300.jpg" data-ll-status="loaded"><noscript><img width="300" height="300" src="/wp-content/uploads/2018/06/coucher-de-soleil-300x300.jpg" alt="Ecard Image" class="wp-iec-ecard-img" /></noscript>
								
								
							</a>
						<%=form.radio_button "wp_iec_img", "2047",  class: "wp-iec-img-selection wp-iec-img-selection-2047" , id: "wp-iec-img-selection-2047"%>

							<noscript>
						<%=form.radio_button "wp_iec_img", "2047",  id: "wp-iec-img-selection-2047"%>

                                                        
                                                        </noscript>
						
							<div class="wp-iec-cnt-wrp">	
																
															</div>
						</div><!-- end .wp-iec-thumb-wrp -->
						
												
					</div><!-- end .wp-iec-thumb-main-wrp -->
					
							
					<div class="wp-iec-thumb-main-wrp wp-iec-3" style="position: absolute; left: 531px; top: 0px;">
						<div class="wp-iec-thumb-wrp <%=card.img==2050 ? "wp-iec-active-thumb" : nil%>">
							<a class="wp-iec-thumbimg wp-iec-thumb wp-iec-thumb-2050" href="javascript:void(0);">
								<img width="300" height="300" src="/ecard_files/coucher-de-soleil-siant-laurent-du-maroni-300x300.jpg" alt="Ecard Image" class="wp-iec-ecard-img entered lazyloaded" data-lazy-src="/wp-content/uploads/2018/06/coucher-de-soleil-siant-laurent-du-maroni-300x300.jpg" data-ll-status="loaded"><noscript><img width="300" height="300" src="/wp-content/uploads/2018/06/coucher-de-soleil-siant-laurent-du-maroni-300x300.jpg" alt="Ecard Image" class="wp-iec-ecard-img" /></noscript>
								
								
							</a>
						
						<%=form.radio_button "wp_iec_img", "2050",  class: "wp-iec-img-selection wp-iec-img-selection-2050" , id: "wp-iec-img-selection-2050"%>
							<noscript>
						<%=form.radio_button "wp_iec_img", "2050",  id: "wp-iec-img-selection-2050"%>
                                                        
                                                        </noscript>
						
							<div class="wp-iec-cnt-wrp">	
																
															</div>
						</div><!-- end .wp-iec-thumb-wrp -->
						
												
					</div><!-- end .wp-iec-thumb-main-wrp -->
					
							
					<div class="wp-iec-thumb-main-wrp wp-iec-4" style="position: absolute; left: 0px; top: 270.5px;">
						<div class="wp-iec-thumb-wrp <%=card.img==2053 ? "wp-iec-active-thumb" : nil%> ">
							<a class="wp-iec-thumbimg wp-iec-thumb wp-iec-thumb-2053" href="javascript:void(0);">
								<img width="300" height="300" src="/ecard_files/iguane_guyane-300x300.jpg" alt="Ecard Image" class="wp-iec-ecard-img entered lazyloaded" data-lazy-src="/wp-content/uploads/2018/06/iguane_guyane-300x300.jpg" data-ll-status="loaded"><noscript><img width="300" height="300" src="/wp-content/uploads/2018/06/iguane_guyane-300x300.jpg" alt="Ecard Image" class="wp-iec-ecard-img" /></noscript>
								
								
							</a>
						
						<%=form.radio_button "wp_iec_img", "2053",  class: "wp-iec-img-selection wp-iec-img-selection-2053" , id: "wp-iec-img-selection-2053"%>
							<noscript>
						<%=form.radio_button "wp_iec_img", "2053", id: "wp-iec-img-selection-2053"%>
                                                        
                                                        </noscript>
						
							<div class="wp-iec-cnt-wrp">	
																
															</div>
						</div><!-- end .wp-iec-thumb-wrp -->
						
												
					</div><!-- end .wp-iec-thumb-main-wrp -->
					
							
					<div class="wp-iec-thumb-main-wrp wp-iec-5" style="position: absolute; left: 265.5px; top: 270.5px;">
						<div class="wp-iec-thumb-wrp <%=card.img==2056 ? "wp-iec-active-thumb" : nil%> ">
							<a class="wp-iec-thumbimg wp-iec-thumb wp-iec-thumb-2056" href="javascript:void(0);">
								<img width="300" height="300" src="/ecard_files/ciel-300x300.jpg" alt="Ecard Image" class="wp-iec-ecard-img entered lazyloaded" data-lazy-src="/wp-content/uploads/2018/06/ciel-300x300.jpg" data-ll-status="loaded"><noscript><img width="300" height="300" src="/wp-content/uploads/2018/06/ciel-300x300.jpg" alt="Ecard Image" class="wp-iec-ecard-img" /></noscript>
								
								
							</a>
						
						<%=form.radio_button "wp_iec_img", "2056",  class: "wp-iec-img-selection wp-iec-img-selection-2056" , id: "wp-iec-img-selection-2056"%>
							<noscript>
						<%=form.radio_button "wp_iec_img", "2056",  id: "wp-iec-img-selection-2056"%>
                                                        
                                                        </noscript>
						
							<div class="wp-iec-cnt-wrp">	
																
															</div>
						</div><!-- end .wp-iec-thumb-wrp -->
						
												
					</div><!-- end .wp-iec-thumb-main-wrp -->
					
							
					<div class="wp-iec-thumb-main-wrp wp-iec-6" style="position: absolute; left: 531px; top: 270.5px;">
						<div class="wp-iec-thumb-wrp <%=card.img==2059 ? "wp-iec-active-thumb" : nil%> ">
							<a class="wp-iec-thumbimg wp-iec-thumb wp-iec-thumb-2059" href="javascript:void(0);">
								<img width="300" height="300" src="/ecard_files/carnaval-300x300.jpg" alt="Ecard Image" class="wp-iec-ecard-img entered lazyloaded" data-lazy-src="/wp-content/uploads/2018/06/carnaval-300x300.jpg" data-ll-status="loaded"><noscript><img width="300" height="300" src="/wp-content/uploads/2018/06/carnaval-300x300.jpg" alt="Ecard Image" class="wp-iec-ecard-img" /></noscript>
								
								
							</a>
						
						<%=form.radio_button "wp_iec_img", "2059",  class: "wp-iec-img-selection wp-iec-img-selection-2059" , id: "wp-iec-img-selection-2059"%>
							<noscript>
						<%=form.radio_button "wp_iec_img", "2059",  class: "wp-iec-img-selection wp-iec-img-selection-2059" , id: "wp-iec-img-selection-2059"%>
                                                        </noscript>
						
							<div class="wp-iec-cnt-wrp">	
																
															</div>
						</div><!-- end .wp-iec-thumb-wrp -->
						
												
					</div><!-- end .wp-iec-thumb-main-wrp -->
					
			</div><!-- end .wp-iec-img-wrp -->
</div><!-- end .wp-iec-img-container-wrp --></div>


	<!-- Custom Image Field -->
		
	<div class="wp-iec-fieldset-frm-wrp">
		
		
		<div class="wp-iec-fieldset-frm-inr-wrp">
			
	    				<div class="wp-iec-hide">
				<input type="hidden" name="wp_iec_post" value="2007">
				<input type="hidden" name="wp_iec_unique_id" value="0">
				<input type="hidden" name="wp_iec_ajax_validated" value="" class="wp-iec-ajax-validated" id="wp-iec-ajax-validated">
				<input type="hidden" name="wp_iec_action" value="process_from" class="wp-iec-process-form" id="wp-iec-process-form">
			</div>
			
						
			<!-- Your Name Field -->
						<div class="wp-iec-input-row">
				<div class="wp-iec-fieldset-row">
					<label class="wp-iec-fieldset-lbl" for="wp-iec-input-name-0">Your Name					 <span>*</span>					</label>
					<%=form.text_field "wp_iec_name", class:"wp-iec-input wp-iec-input-name", id: "wp-iec-input-name-0", data: {"err-cls" => "wp-iec-input-row"}%>
					<span class="wp-iec-fieldset-span">Your Name</span>
				</div>
                                        <%card.errors.messages.to_h[:name].each do |a|%>
                                                    <span class="wp-iec-frm-err"><%=a%></span>
                                        <%end%>

							</div>
						
			<!-- Your Email Field -->
			<div class="wp-iec-input-row">
				<div class="wp-iec-fieldset-row">
					<label class="wp-iec-fieldset-lbl" for="wp-iec-input-email-0">Your Email <span>*</span></label>
					<%=form.email_field "wp_iec_email", class: "wp-iec-input wp-iec-input-email", id: "wp-iec-input-email-0", data: {"err-cls"=>"wp-iec-input-row"}%>
					<span class="wp-iec-fieldset-span">Your Email</span>
				</div>
                                                                    <%card.errors.messages.to_h[:email].each do |a|%>
                                                    <span class="wp-iec-frm-err"><%=a%></span>
                                        <%end%>

							</div>

			<!-- Your Friend Name Field -->
						
			<!-- Your Friend Email Field -->
						<div class="wp-iec-input-row">
				<div class="wp-iec-fieldset-row">
					<label class="wp-iec-fieldset-lbl" for="wp-iec-input-femail-0">Your friend Email <span>*</span></label>    
					<%=form.text_field "wp_iec_femail", class: "wp-iec-input wp-iec-input-femail", id: "wp-iec-input-femail-0", data: {"err-cls"=>"wp-iec-input-row"}%>
					<span class="wp-iec-fieldset-span">Your friend Email</span>
				</div>
<%card.errors.messages.to_h[:femail].each do |a|%>
                                                    <span class="wp-iec-frm-err"><%=a%></span>
                                        <%end%>

							</div>
			
			<!-- Add More Recipient Field -->
						
			<!-- Message Field -->
						<div class="wp-iec-input-row">
				<div class="wp-iec-fieldset-row">
					<label class="wp-iec-fieldset-lbl" for="wp-iec-input-msg-0">Message					 <span>*</span>					</label>
					<%=form.text_area "wp_iec_message", class: "wp-iec-input wp-iec-input-msg", id: "wp-iec-input-msg-0", data: {"err-cls"=>"wp-iec-input-row"}%>
					<span class="wp-iec-fieldset-span">Your Message</span>
				</div>
<%card.errors.messages.to_h[:message].each do |a|%>
                                                    <span class="wp-iec-frm-err"><%=a%></span>
                                        <%end%>

							</div>
			
					    
			<!-- Self copy Field -->
						<div class="wp-iec-input-row">
				<label class="wp-iec-cb-lbl" for="wp-iec-input-scopy-0">
                                    <%=form.check_box "wp_iec_scopy", value: "1", class: "wp-iec-cb wp-iec-input-scopy", id: "wp-iec-input-scopy-0"%> Send copy to Me also</label>
			</div>
						
			<!-- Terms and Condition Field -->
						
			<!-- Captcha Field -->
						
						
						
			<div class="wp-iec-submit-row">
				<input type="submit" name="wp_iec_submit" value="Envoyer" class="wp-iec-submit-btn" id="wp-iec-submit-btn-2007">
				<span class="wp-iec-loader"><img width="25" height="25" src="data:image/svg+xml,%3Csvg%20xmlns=&#39;http://www.w3.org/2000/svg&#39;%20viewBox=&#39;0%200%2025%2025&#39;%3E%3C/svg%3E" alt="Loading..." data-lazy-src="/wp-content/plugins/wp-iecards//assets/images/ajax-loader.gif"><noscript><img width="25" height="25" src="/wp-content/plugins/wp-iecards//assets/images/ajax-loader.gif" alt="Loading..." /></noscript></span>
											
                        <%if request.post? && card.errors.messages.length > 0%>
<span class="wp-iec-frm-err wp-iec-form-err">Validation errors occurred. Please confirm the fields and submit it again.</span>                                
                                <%elsif card.persisted?%>
<span class="wp-iec-form-succ">Your e card was sent successfully</span>

                                <%end%>
                        
                        </div><!-- end .wp-iec-submit-row -->
		
		</div><!-- end wp-iec-single-clmn-inr-wrp -->
	</div><!-- end .wp-iec-single-clmn-frm-wrp -->
	
<%end%>
